
body {
    font-family: Inter;
}    
ul {
    list-style-type: none;
    padding: 32px 0;
    text-align: center;
    margin: 0; 
    }
.mt {
    display: inline-block; 
    padding-left:36px;
    padding-right:36px;
    
    }
.mtl {
    text-decoration: none;
    color:  #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    font-style: normal;
    }
.conteiner_with_background {
    height: 552px;
    width: 100%;
    background-color: #00BDC9;
    position: relative;
    overflow:  hidden;
    
}    
.center_img {
    position: absolute;
    left: -50%;
    top: -50%;
    bottom: -50%;
    right: -50%;
    margin: auto;
    
}
.conteiner_with_info {
    text-align: center;
    margin-top: 88px;
}
h2 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 40px;
}

.basic_text{
    color: #161616;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 856px;
    display: inline-block;
    text-align: start;
   
    
}
.selected_basic_text {
    color: #04959E;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.numbered_list {
    width: 856px;
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: start;
    display: inline-block;
    margin-top: 24px;
    
    
}
.conteiner_with_numbered_list {
    text-align: center;
    margin-bottom: 40px;
}
.conteiner_with_buttom {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 88px;
}
.text_in_buttom {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
.background_with_buttom {
   
    padding: 10px 24px;
    background: #04959E;
    border: none;
    outline: none;  
}
.text_footer {
    color: #161616;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
   
}

.conteiner_footer {
    padding-top: 16px;
    padding-bottom: 16px;
}
.line {
    border: none;
    border-top: 1px solid #161616;
    margin: 0;
}